<%- include('header') %>
<%- include('menuBarCustomer') %>
<%- include('menubar') %>
<div class="container-fluid">
    
    <div class="container-fluid" style="height: 300px ;background-color: whitesmoke;">

    </div>
    <div class=" container-fluid d-flex">
        <div class="container-fluid col-5  ">
            
            <div class="container-fluid border border-warning rounded bg-white">
                <canvas style="border: 2ps solid yellow;" id="myChart" ></canvas>
            </div>
            <button class="btn " id="idGraphData" style="display: none;" value="<%= JSON.stringify(bookings) %>"
                onclick="myloadGraph()"> my button</button>
        </div>
        <div class="container-fluid col-5 border w-100 m-0 p-0">
            <div class="container-fluid d-flex">
                <table class="table">
                    <thead>
                         
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                HOTEL
                                
                            </th>
                            <th>
                                ROOMS
                            </th>
                            <th>
                                tariff
                            </th>
                            <th>
                                plans
                            </th>

                        </tr>
                        <% hotels.forEach(hotel => { %>
                            <tr>
                                <td> 
                                    <small class="text text-primary " style="font-size: 20px;">
                                   <%= hotel.firstName %>
                                   </small> <br>
                                    <small>
                                    <%= hotel.email %>
                                    </small> <br>
                                    <small>
                                    <%= hotel.contactNumber %>
                                    </small>
                                </td>
                                <td> 
                                    <small>
                                    <%= hotel.totalRooms %>
                                    </small>
                                </td>
                                <td> 
                                    <small>
                                    <%= hotel.activeTariff %>
                                    </small>
                                </td>
                                <td> 
                                    <small>
                                    <%= hotel.activePlans %>
                                    </small>
                                </td>
                                <td>
                                    <% if (hotel.active) { %>
                                        <button  value="<%=hotel.companyId%>" onclick="activateCompany(event.target.value)"  id="idBtadminActivateCompany<%= hotel.companyId%>" class="btn text-danger bi bi-pause-circle-fill"> </button>
                                        <% } else { %>
                                            <button  value="<%= hotel.companyId %>" onclick="activateCompany(event.target.value)"  id="idBtadminActivateCompany<%= hotel.companyId%>"  class="btn text-success bi bi-play-fill"> </button>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid col-2 border w-100 m-0 p-0">
            <div class="container-fluid w-100">
                <button class="border btn w-100 btn-primary  rounded">
                USERS
                </button>
                <div class="container-fluid d-flex border btn  rounded " style="height: 60px;">
                    <input id="idSearchtextUser" onkeyup="searchUser(event.target.value)" class="text col-9 border  rounded" type="text">
                    <div class=" btn ">
                        <input type="checkbox" onchange="loadActiveuser(event.target.value)" value="<%=JSON.stringify(activeUsers) %> " name="" id="idadminActiveUser">
                    <label class="text h-100" style="font-size: 10px; ;" for="idActiveUser" >Active</label>
                    </div>
                     
                </div>
                <div id="idlistusers" class="container-fluid" >
                <% activeUsers.forEach(user => { %>
                    <div class="container-fluid d-flex border btn  rounded ">
                        <div class="container-fluid w-100 col-9 " disabled >
                            <small class="text-left btn w-100 rounded text-dark justify-content-start "  style="text-transform: lowercase; font-size: 10px;" >
                                <small class="text-primary" style="text-transform: uppercase; font-size: 14px;"> <%= user.firstName %>  </small> <br>
                                <%= user.contactNumber %><br>
                                <%= user.email %>  
                               
                            </small> 
                        </div>
                        <div class="btn col-3  w-100 rounded text-secondary justify-content-start ">
                            <% if (user.Active) { %>
                                <button  value="<%-user.hrId  %>" onclick="activateUser(event.target.value)" id="idbtActivateuser<%-user.hrId  %>" class="btn text-danger bi bi-pause-circle-fill"  > </button>
                                <% } else { %>
                                    <button  value="<%-user.hrId  %>" onclick="activateUser(event.target.value)" id="idbtActivateuser<%-user.hrId  %>" class="btn text-success bi bi-play-fill"  > </button>
                            <% } %>
                        </div>
                    </div> 
                <% }) %>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
   
</script>
<script src="/Script/adminPage.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%- include('footer') %>