<%- include('header') %>
  <%- include('MenuBarCustomer') %>
    <div class="container-fluid" style="background-image: url(<%=profile.image1%>);">
      <div class="container-flex  border border-primary ">
        <div class="container-fluid  align-content-start "
          style="height: 400px;background-color: rgba(168, 167, 123, 0.489); ">
          <h1 class="text text-light" style="text-transform:uppercase">
            <%= profile.lastName %>
          </h1>
          <h6 class="text text-light" style="text-transform:uppercase">
            <%= profile.contactNumber %>
              <%= profile.email %>
          </h6>
          <h6 class="text text-light" style="text-transform:uppercase">
            <%= profile.buildingNumber %>
              <%= profile.BuildingName %>
                <%= profile.StreetName %>
          </h6>
          <h6 class="text text-light" style="text-transform:uppercase">
            <%= profile.city %>
              <%= profile.pincode%>
          </h6>
          <div>
            <div>

              <% tariffPackages.forEach(element=> { %>
                <div class="btn p-1 col-1 bg-secondary" style="height: 100px;  opacity: 50%; ;">

                </div>


                <% }) %>
                  <div class="btn p-1 col-1 bg-primary " style="height: 100px;  opacity: 50%; ;">
                    <button class="w-100 h-100 btn btn-primary bi bi-window-plus"></button>
                  </div>
            </div>
            <div class="row  "
              style=" overflow: scroll; background-color: rgba(77, 103, 77, 0.923);">

              <% tariffPackages.forEach(element=> { %>
                <div class="btn p-1 col-2" style="height: 100% ;">
                  <% if (element.deleted) { %>
                    <div class="card text-white mb-2" style="max-width: 18rem; background-color: rgb(76, 102, 158);  ">
                      <% } else { %>
                        <div class="card text-white   mb-3"
                          style="max-width: 18rem; background-color: rgb(32, 45, 78);">
                          <% } %>

                            <div class="card-header" style="text-transform:uppercase">
                              <%= element.tariffName %>
                            </div>
                            <div class="card-body">

                              <h5 class="card-title">Offer Rate :<%= element.SpecialRent %>/-</h5>
                              <small> (Room rent : <%= element.roomRentSingle %>)</small> <br>
                              <small> Extra Person : <%= element.extraPerson %></small>

                            </div>
                            <div class="container row">
                              <button class="btn btn-light   m-1 me-4 " data-bs-toggle="modal"
                                data-bs-target="#<%= element.tariffName%>" value="<%= element.tariffIndex %>"
                                onclick="disabletariffModal(event.target.value)"> OPEN</button>
                              <% if (element.deleted) { %>
                                <button id="'btn'+<%= element.tariffname %>"
                                  value="<%= element.tariffIndex%>,<%= profile.CompanyID%>"
                                  class="btn btn-outline-light    m-1 me-4" onclick="Activateplan(event.target.value)">
                                  ACTIVATE </button>
                                <% } else { %>
                                  <button value="<%= element.tariffIndex%>,<%= profile.CompanyID%>"
                                    class="btn btn-outline-warning   m-1 me-4"
                                    onclick="freezeTariff(event.target.value)"> FREEZE </button>
                                  <% } %>
                            </div>
                        </div>

                    </div>


                    <% }) %>
                    <div class="btn p-1 col-2" style="height: 100% ;">
                      
                        <div class="card text-white mb-2" style="max-width: 18rem; background-color: rgb(76, 102, 158);  ">
                           
                          
    
                                <div class="card-header" style="text-transform:uppercase">
                                  
                                </div>
                                <div class="card-body">
    
                                  <h5 class="card-title">  </h5>
                                  <small>  </small> <br><br>
                                  <br>
                                  <br>
                                  <button class="btn btn-success m-1 me-4 bi bi-clipboard-plus" data-bs-toggle="modal" data-bs-target="#idModalnewTariff"> </button>
                                  <br>
                                  <br> <br>
                                   
                                  <small> </small>
    
                                </div>
                                <div class="container row">
                                    
                                     
                                    

                                       
                                </div>
                            </div>
    
                        </div>
                </div>
                <div class="container-flex d-flex border border-primary ">
                  <div class="container-flex col-2   border border-primary">
                  </div>
                  <div class="container-flex col-8 border border-primary ">
                    <div class="container-flex justify-content-start "
                      style=" flex-wrap: wrap  ; overflow: scroll  ; height: 500px ; ;">

                    </div>
                  </div>
                  <div class="container-flex col-2   border border-primary">
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modals -->

    <% tariffPackages.forEach(element=> { %>
      <!-- Scrollable modal -->

      <div class="modal fade  mr-2 " onload="disabletariffModal(element.tariffIndex)" id="<%=element.tariffName%>"
        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" style="background-color: rgba(239, 232, 217, 0.349) ;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <%=element.tariffName%>
              </h5>
              <h2 id="idCompanyId+<%=element.tariffIndex%>" style="opacity: 0;">
                <%= profile.CompanyID %>
              </h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- <form action="" name="formTariff"> -->
              <div class="">

                <div class="container row">
                  <div class="container-fluid col-lg-4">
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Name</span>
                      <input name="tariffname" id="idCompTariffname+<%=element.tariffIndex%>" type="text"
                        class="form-control" placeholder="tariffname" aria-label="Username"
                        aria-describedby="basic-addon1" value="<%=element.tariffName  %>">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Rent </span>
                      <input name="Rent-Single" id="idRent-Single+<%=element.tariffIndex%>" type="number"
                        class="form-control" placeholder="Room number" aria-label="Username"
                        aria-describedby="basic-addon1" value="<%=element.roomRentSingle  %>">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Offer Price </span>
                      <input name="Rent-Single" id="idSpecialRent+<%=element.tariffIndex%>" type="number"
                        class="form-control" placeholder="Room number" aria-label="Username"
                        aria-describedby="basic-addon1" value="<%=element.SpecialRent  %>">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Extra person</span>
                      <input name="ExtraPerson" id="idExtraPerson+<%=element.tariffIndex%>" type="number"
                        class="form-control" placeholder="ExtraPerson" aria-label="ExtraPerson"
                        aria-describedby="basic-addon1" value="<%=element.extraPerson  %>">
                    </div>

                    <div class="input-group mb-2">

                      <label class="input-group-text col-4" id="basic-addon1" for="#idincludeChild">includeChild</label>
                      <div class="form-control">
                        <input name="includeChild" id="idincludeChild+<%=element.tariffIndex%>" type="checkbox"
                          class="form-check-input" <%=element.includeChild ? 'checked' : '' %>
                        aria-label="includeChild" aria-describedby="basic-addon1">
                      </div>
                    </div>


                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Item Name </span>
                      <input name="Itemname" id="IdItemname+<%=element.tariffIndex%>" type="text" class="form-control"
                        placeholder="Item Name " aria-label="Username" aria-describedby="basic-addon1"
                        value="<%=element.itemname%>">
                    </div>

                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Tax Rate </span>
                      <input name="Taxrate" id="IdTaxrate+<%=element.tariffIndex%>" type="text" class="form-control"
                        placeholder="Tax Rate" aria-label="Username" aria-describedby="basic-addon1"
                        value="<%=element.tax%>">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Tariff Index </span>
                      <input name="TariffIndex" id="IdTariffIndex+<%=element.tariffIndex%>" type="text" readonly="true"
                        class="form-control" placeholder="tariffId" aria-label="Username"
                        aria-describedby="basic-addon1" value="<%=element.tariffIndex%>">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">default Plan </span>
                      <input name="DefaultPlan" id="IdDefaultPlan+<%=element.tariffIndex%>" type="text" readonly="true"
                        class="form-control" placeholder="tariffId" aria-label="Username"
                        aria-describedby="basic-addon1" value="<%=element.itemname%>">
                    </div>

                  </div>
                  <div class="container-fluid col-lg-8">
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Plan Discription</span>
                      <textarea class="form-control" id="iddiscription+<%=element.tariffIndex%>" name="discription"
                        rows="15rem" cols="100"> <%=element.Discription %></textarea>

                    </div>
                  </div>
                  <div class="container-fluid col">

                  </div>
                </div>
              </div>
            </div>..
            <div class="modal-footer">
              <button type="button" value="<%=element.tariffIndex%>" onclick="EnabletariiModal(event.target.value)"
                class="btn btn-warning bi bi-pencil">EDIT </button>
              <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
              <button name="modalSubmit" type="button" onclick="saveTariffToCompanies('NEW')"
                value="<%=element.tariffIndex%>" class="btn btn-success bi bi-send">SAVE</button>
            </div>
            <!-- </form> -->
          </div>
        </div>


      </div>
      <% }) %>



      <div class="modal fade  mr-2 "  id="idModalnewTariff"
        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" style="background-color: rgba(239, 232, 217, 0.349) ;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                
              </h5>
              <h2 id="idCompanyId " style="opacity: 0;">
                <%= profile.CompanyID %>
              </h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- <form action="" name="formTariff"> -->
              <div class="">

                <div class="container row">
                  <div class="container-fluid col-lg-4">
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Name</span>
                      <input name="tariffname" id="idCompTariffname" type="text"
                        class="form-control" placeholder="tariffname" aria-label="Username"
                        aria-describedby="basic-addon1"  >
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Rent </span>
                      <input name="Rent-Single" id="idRent-Single" type="number"
                        class="form-control" placeholder="Room number" aria-label="Username"
                        aria-describedby="basic-addon1" > 
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Offer Price </span>
                      <input name="Rent-Single" id="idSpecialRent" type="number"
                        class="form-control" placeholder="Room number" aria-label="Username"
                        aria-describedby="basic-addon1" value=" ">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Extra person</span>
                      <input name="ExtraPerson" id="idExtraPerson" type="number"
                        class="form-control" placeholder="ExtraPerson" aria-label="ExtraPerson"
                        aria-describedby="basic-addon1" >
                    </div>

                    <div class="input-group mb-2">

                      <label class="input-group-text col-4" id="basic-addon1" for="#idincludeChild">includeChild</label>
                      <div class="form-control">
                        <input name="includeChild" id="idincludeChild" type="checkbox"
                          class="form-check-input"  
                        aria-label="includeChild" aria-describedby="basic-addon1">
                      </div>
                    </div>


                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Item Name </span>
                      <input name="Itemname" id="IdItemname" type="text" class="form-control"
                        placeholder="Item Name " aria-label="Username" aria-describedby="basic-addon1">
                         
                    </div>

                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Tax Rate </span>
                      <input name="Taxrate" id="IdTaxrate" type="text" class="form-control"
                        placeholder="Tax Rate" aria-label="Username" aria-describedby="basic-addon1">
                        
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Tariff Index </span>
                      <input name="TariffIndex" id="IdTariffIndex " type="text" readonly="true"
                        class="form-control" placeholder="tariffId" aria-label="Username"
                        aria-describedby="basic-addon1" value="">
                    </div>
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">default Plan </span>
                      <input name="DefaultPlan" id="IdDefaultPlan" type="text" readonly="true"
                        class="form-control" placeholder="tariffId" aria-label="Username"
                        aria-describedby="basic-addon1"  >
                    </div>

                  </div>
                  <div class="container-fluid col-lg-8">
                    <div class="input-group mb-2">
                      <span class="input-group-text col-4" id="basic-addon1">Plan Discription</span>
                      <textarea class="form-control" id="iddiscription" name="discription"
                        rows="15rem" cols="100">  </textarea>

                    </div>
                  </div>
                  <div class="container-fluid col">

                  </div>
                </div>
              </div>
            </div>..
            <div class="modal-footer">
              <button type="button" value=" " onclick="EnabletariiModal(event.target.value)"
                class="btn btn-warning bi bi-pencil">EDIT </button>
              <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
              <button name="modalSubmit" type="button" onclick="saveTariffToCompanies(event.target.value)"
                value="" class="btn btn-success bi bi-send">SAVE</button>
            </div>
            <!-- </form> -->
          </div>
        </div>


      </div>

        <script src="/Script/Companies.js"> </script>
        <%- include('footer') %>