<%- include('header') %>
<%- include('MenuBarCustomer') %>
<div class="container-fluid justify-content-center row w-100">
    <div class="container-fluid   w-100 btn  row bg-secondary " style="height: 300px;">
      <canvas id="eventChart" style="display: block; height: 238px; width: 476px;" width="952" height="476" class="chartjs-render-monitor"></canvas>
    </div>
    <div class="container-fluid d-flex ">
        <div class=" col-2 container-fluid border rounded  ">
          <form action="/vedurehomepage/loadhomepage" method="post">
            <button class="btn border btn-success col-12 col "> Dashboard </button>
          </form>
          <form action="/Company/loadTariff" method="get">
              <button class="btn border btn-success col-12 col "> Tariff </button>
          </form>
          <form action="/Company/loadPlan" method="get">
              <button class="btn border btn-success col-12 col "> Checkin Plan </button>
          </form>
          <form action="/Company/loadRoom" method="get">
              <button class="btn border btn-success col-12 col "> Rooms </button>
          </form>
          <form action="/Company/loadReservations" method="get">
              <button class="btn border btn-success col-12 col "> Reservation Details </button>
          </form>
          <form action="/Company/loadPayments" method="get">
              <button class="btn border btn-success col-12 col "> Collection Details </button>
          </form>
          <form action="/Company/loadGallery" method="get">
              <button class="btn border btn-success col-12 col "> Gallery </button>
          </form>
          </div>
          <div class="col-10 container-fluid d-flex border rounded"  >
            <div class="col-6 container-fluid "  >
              <% if ( Plans ) { %>
                <div  class="col-12 container-fluid border rounded  border-primary p-1 m-2" >
                  <div class="table-responsive  border-primary  " >
                    <table class="table border-primary">
                      <button  class="bi bi-caret-down-square  btn btn-primary col-3"> Checkin Plans</button>
                       <tbody>
                          <% Plans.forEach(plans=> { %>
                            <tr>
                              <td > 
                                <small class="font-weight-bold mt-1"> <%= plans.planName %> </small>
                              </td>
                              <td > 
                                <small class="font-weight-bold  mt-1"> &#8377 <%= plans.amount %>(<%= plans.maxPax %>) </small>
                              </td>
                              <td > 
                                <small class="font-weight-bold text-success  mt-1"> 88% </small>
                              </td>
                              <td >
                                  <select class="btn " name="" id=""></select>
                              </td>
                              <td >
                                    <button type="button"  class="btn btn-sm btn-danger bi bi-power">DISABLE</button>
                              </td>
                            </tr>
                            <% }) %>
                          </tbody>
                    </table>
                  </div>
                </div>
                <% } %>
            </div>  
            <div class="col-6 container-fluid "  >
                <% if ( Plans ) { %>
                <div id="idDivPlans" class="col-12 container-fluid border rounded  border-primary p-1 m-2" style=" height: 250px; overflow: hidden ;">
                  <div class="table-responsive  border-primary  " >
                    <table class="table border-primary">
                      <button onclick="collapse('idDivPlans', 250 )" class="bi bi-caret-down-square  btn btn-primary col-3"> Checkin Plans</button>
                      <button type="button " data-bs-toggle="modal" data-bs-target="#idModalnewCheckinPlan"
                      class="btn btn-success h-100 btn bi bi-clipboard-plus  text-light "> CREATE  </button>
                      <tbody>
                       
                          <% Plans.forEach(plans=> { %>
                            <tr>
                              <td class="col-3">
                                <small class="font-weight-bold mt-1  ">
                                  <%= plans.planName %>
                                </small>
                              </td>
                              <td class="col-2">
                                <small class="font-weight-bold  mt-1"> &#8377 <%= plans.amount %>(<%= plans.maxPax %>) </small>
                              </td>
                              <td class="col-2">
                                <small class="font-weight-bold  mt-1"> Extra &#8377 <%= plans.extraCharge %>/- </small>
                                
                              </td>
                              <td class="col-4">
                                <div class="container-fluid">
                                  <button data-bs-toggle="modal" data-bs-target="#idModalnewCheckinPlan<%=plans.planIndex%>"  type="button" class="col-5 btn  btn-warning bi bi-pencil-fill">EDIT</button>
                                  <% if (!plans.deleted) { %>
                                    <button type="button" value="<%=plans.planIndex%>,<%=profile.CompanyID%>"
                                      onclick="enableplanModal(event.target.value)"
                                      class="btn bi bi-power col-6 btn-danger "> OFF </button>
                                    <% } else { %>
                                      <button type="button" value="<%=plans.planIndex%>,<%=profile.CompanyID%>"
                                        onclick="enableplanModal(event.target.value)"
                                        class="btn bi bi-power col-6  btn-success"> ON </button>
                                      <% } %>
                                </div>
                  
                              </td>
                            </tr>
                            <% }) %>
                              
                  
                  
                      </tbody>
                    </table>
                  </div>
                </div>
                <% } %>
                <% if ( tariffPackages ) { %>
                  <div id="idTariffDetails" class="  container-fluid border border-primary rounded p-2  m-2"style="height:250px;   overflow: hidden ;" >
                  <div class="table-responsive bg-white border-primary " >
                    <table class="table">
                      <button onclick="collapse('idTariffDetails', 250 )" class="bi bi-caret-down-square  btn btn-primary col-3"> Classification</button onclick="">
                        <button class="btn btn-success  bi bi-clipboard-plus" data-bs-toggle="modal"  data-bs-target="#idModalnewTariff"> CREATE  </button>   
                        <tbody>
                      
                            <% tariffPackages.forEach(tariff => { %>
                              <tr >
                                  <td class="">
                                      <small class="font-weight-bold mt-1  "> <%= tariff.tariffName %> </small>
                                </td>
                                <td class="">
                                  <small class="font-weight-bold  mt-1"> &#8377 <%= tariff.SpecialRent %>(2)  </small>
                                </td>
                                <td>
                                  <small class="font-weight-bold  mt-1">Extra &#8377 <%= tariff.extraPerson %>/-  </small>
                                    
                                  </td>
                      
                                <td>
                                  <button class="btn btn-warning bi bi-pencil-fill" data-bs-toggle="modal"  data-bs-target="#<%= tariff.tariffName%>"value="<%= tariff.tariffIndex %>"   >EDIT</button>
                                  
                       
                                  <% if (!tariff.isActive) { %>
                                    <button id="'btn'+<%= tariff.tariffname %>"value="<%= tariff.tariffIndex%>,<%= profile.CompanyID%>"class="btn btn-success m-1 bi bi bi-power" type="button" onclick="enableTariff(event.target.value)"> ON </button>
                                <% } else { %>
                                    <button id="'btn'+<%= tariff.tariffname %>" value="<%= tariff.tariffIndex%>,<%= profile.CompanyID%>" class="btn btn-danger m-1 bi bi-power" type="button" onclick="freezeTariff(event.target.value)">OFF </button>
                                <% } %>
                                </td>
                              </tr>
                            <% }) %>
                      
                        
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                <% } %>

              <% if ( availablerooms ) { %>
                  <div id="idRoomDetails" class="  container-fluid border border-primary  rounded  p-1 m-2" style=" height: 250px; overflow: hidden ;">
                    <div class="table-responsive bg-white border-primary " >
                      <table class="table">
                        <div class="container justify-content-evenly">
                          <button onclick="collapse('idRoomDetails', 250 )"  class="bi bi-caret-down-square btn btn-primary col-3"> Rooms </button>
                           
                        </div>
                        <tbody>
                        
                            
                            <% availablerooms.forEach(items=> { %>
                              <tr class=" "   >
                                <td class="">
                                  <small class="font-weight-bold mt-1  ">
                                    <%= items.roomNumber %>
                                  </small>
                                </td >
                                <td class="">
                                  <small class="font-weight-bold  mt-1"> &#8377 <%= items.maxOccupancy %> </small>
                                </td>
                                <td>
                                  <small class="font-weight-bold text-success  mt-1"> 88% </small>
                    
                                  <progress value="50" max="100"></progress>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-warning bi bi-pencil-fill">EDIT</button>
                                  <button type="button" class="btn btn-sm btn-danger bi bi-power">DISABLE</button>
                    
                                </td>
                              </tr>
                              <% }) %>
                              
                    
                    
                        </tbody>
                      </table>
                    </div>
                  </div>
              <% } %>

              <% if ( reservation ) { %>
                <div id="idReservations" class="  container-fluid border border-primary rounded  p-1 m-2" style=" height: 250px; overflow: hidden ;">
                  <div class="table-responsive bg-white border-primary " >
                    <table class="table">
                      <button onclick="collapse('idReservations', 250 )" class="bi bi-caret-down-square  btn btn-primary col-3"> Reservations </button> 
                      <tbody>
                      
                          
                          <% reservation.forEach(items=> { %>
                            <tr>
                              <td class="">
                                <small class="font-weight-bold mt-1  ">
                                  <%= items.reservationNumber %>
                                </small>
                              </td>
                              <td class="">
                                <small class="font-weight-bold  mt-1"> &#8377 <%= items.tariff %> </small>
                              </td>
                              <td>
                                <small class="font-weight-bold text-success  mt-1"> 88% </small>
                  
                                <progress value="50" max="100"></progress>
                              </td>
                              <td>
                                <button type="button" class="btn btn-sm btn-warning bi bi-pencil-fill">EDIT</button>
                                <button type="button" class="btn btn-sm btn-danger bi bi-power">DISABLE</button>
                  
                              </td>
                            </tr>
                            <% }) %>
                            
                  
                  
                      </tbody>
                    </table>
                  </div>
                </div>
            <% } %>
            <% if ( payments ) { %>
              <div id="idPayments" class="  container-fluid border border-primary rounded  p-1 m-2" style=" height: 250px; overflow: hidden ;">
                <div class="table-responsive bg-white border-primary " >
                  <table class="table">
                    <button onclick="collapse('idPayments', 250 )" class="bi bi-caret-down-square  btn btn-primary col-3"> Payments </button>
                     <tbody>
                        <% payments.forEach(items=> { %>
                          <tr>
                            <td class="">
                              <small class="font-weight-bold mt-1  ">
                                <%= items.paymentIndex %>
                              </small>
                            </td>
                            <td class="">
                              <small class="font-weight-bold  mt-1"> &#8377 <%= items.paymentReferance %> </small>
                            </td>
                            <td>
                              <small class="font-weight-bold text-success  mt-1"> 88% </small>
                
                              <progress value="50" max="100"></progress>
                            </td>
                            <td>
                              <button type="button" class="btn btn-sm btn-warning bi bi-pencil-fill">EDIT</button>
                              <button type="button" class="btn btn-sm btn-danger bi bi-power">DISABLE</button>
                
                            </td>
                          </tr>
                          <% }) %>
                          
                
                
                    </tbody>
                  </table>
                </div>
              </div>
          <% } %>
            </div>
        </div>
        
      </div>
  </div>
<!-- modal division starts here  -->

<% Plans.forEach(newplan => { %>
  <div class="modal fade  mr-2 " id="idModalnewCheckinPlan<%=newplan.planIndex%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.712) ;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
          </h5>
          <h2 id="idCompanyId<%=newplan.planIndex%>" style="opacity: 0;">
            <%= profile.CompanyID %>
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <form action="" name="formTariff"> -->
         
      <div class="d-flex">
        <div class="container-fluid">
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Plan Index</span>
                <input value="<%=newplan.planIndex%>" name="planIndex" id="idplanIndex<%=newplan.planIndex%>" type="text" readonly="true" class="form-control" placeholder="IndexNumber" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Plan Name </span>
                <input name="Planname" value="<%=newplan.planName%>" id="idPlanname<%=newplan.planIndex%>" type="text" class="form-control" placeholder="planName" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Short Name</span>
                <input name="ShortName" value="<%=newplan.shortName%>" id="idShortName<%=newplan.planIndex%>" type="text" class="form-control" placeholder="ShortName" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Allowed Pax</span>
                <input name="AllowedPax" id="idAllowedPax<%=newplan.planIndex%>"value="<%=newplan.maxPax%>"  type="number" class="form-control" placeholder="AllowedPax" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Amount</span>
                <input name="PlanAmount" id="idPlanAmount<%=newplan.planIndex%>" type="number" value="<%=newplan.amount%>" class="form-control" placeholder="Plan Amount" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Extra Pax Charge</span>
                <input name="ExtraCharge" id="idExtraCharge<%=newplan.planIndex%>" type="number" value="<%=newplan.extraCharge%>" class="form-control" placeholder="Plan Amount" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="container-fluid">
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Discription</span>
                <textarea class="form-control"      id="iddiscription<%=newplan.planIndex%>" name="discription" rows="11" cols="50"> <%=newplan.discription%></textarea>
        
            </div>
           
        </div>
        <div class="container-fluid">
  
        </div>
  
    </div>
        </div>..
        <div class="modal-footer">
          <button type="button"  class="btn btn-warning bi bi-pencil">EDIT </button>
          <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
          <button name="modalSubmit" type="button" onclick="savePlanToCompanies(event.target.value)" value="<%=newplan.planIndex%>" class="btn btn-success bi bi-send">SAVE</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
  
  <% }) %>
  <div class="modal fade  mr-2 " id="idModalnewCheckinPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: rgba(239, 232, 217, 0.349) ;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
          </h5>
          <h2 id="idCompanyIdNew" style="opacity:0;">
            <%= profile.CompanyID %>
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <form action="" name="formTariff"> -->
         
      <div class="d-flex">
        <div class="container-fluid">
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Plan Index</span>
                <input value="" name="planIndex" id="idplanIndexNew" type="text" readonly="true" class="form-control" placeholder="IndexNumber" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Plan Name </span>
                <input name="Planname" value="" id="idPlannameNew" type="text" class="form-control" placeholder="planName" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Short Name</span>
                <input name="ShortName" value="" id="idShortNameNew" type="text" class="form-control" placeholder="ShortName" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Allowed Pax</span>
                <input name="AllowedPax" id="idAllowedPaxNew"value=""  type="number" class="form-control" placeholder="AllowedPax" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Amount</span>
                <input name="PlanAmount" id="idPlanAmountNew" type="number" value="" class="form-control" placeholder="Plan Amount" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Extra Pax Charge</span>
                <input name="ExtraCharge" id="idExtraChargeNew" type="number" value="" class="form-control" placeholder="Plan Amount" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="container-fluid">
            <div class="input-group mb-3">
                <span class="input-group-text col-4" id="basic-addon1">Discription</span>
                <textarea class="form-control"      id="iddiscriptionNew" name="discription" rows="11" cols="50"> </textarea>
        
            </div>
           
        </div>
        <div class="container-fluid">
  
        </div>
  
    </div>
        </div>..
        <div class="modal-footer">
          <button type="button" value=" " onclick="EnabletariiModal(event.target.value)" class="btn btn-warning bi bi-pencil">EDIT </button>
          <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
          <button name="modalSubmit" type="button" onclick="savePlanToCompanies('New')" value="" class="btn btn-success bi bi-send">SAVE</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>    


  <div class="modal fade  mr-2 fixed-button  " id="idModalnewTariff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.888) ;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
          </h5>
          <h2 id="idCompanyId" style="opacity: 0;">
            <%=profile.CompanyID%>
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <form action="" name="formTariff"> -->
          <div class="">
            <div class="container row">
              <div class="container-fluid col-lg-4">
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Name</span>
                  <input name="tariffname" id="idCompTariffname+" type="text" class="form-control" placeholder="tariffname" aria-label="Username" aria-describedby="basic-addon1"  >
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Rent </span>
                  <input name="Rent-Single" id="idRent-Single+" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" > 
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Offer Price </span>
                  <input name="Rent-Single" id="idSpecialRent+" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" >
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Extra person</span>
                  <input name="ExtraPerson" id="idExtraPerson+" type="number" class="form-control" placeholder="ExtraPerson" aria-label="ExtraPerson" aria-describedby="basic-addon1" >
                </div>
                <div class="input-group mb-2">
                  <label class="input-group-text col-4" id="basic-addon1" for="#idincludeChild">includeChild</label>
                  <div class="form-control">
                    <input name="includeChild" id="idincludeChild+" type="checkbox" class="form-check-input"  
                    aria-label="includeChild" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Item Name </span>
                  <input name="Itemname" id="IdItemname" type="text" class="form-control" placeholder="Item Name " aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Tax Rate </span>
                  <input name="Taxrate" id="IdTaxrate+" type="number" class="form-control" placeholder="Tax Rate" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Tariff Index </span>
                  <input name="TariffIndex" id="IdTariffIndex+" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1" value="">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">default Plan </span>
                  <input name="DefaultPlan" id="IdDefaultPlan+" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1"  >
                </div>
              </div>
              <div class="container-fluid col-lg-8">
                <div class="input-group mb-2">
                  <span class="input-group-text col-4" id="basic-addon1">Plan Discription</span>
                  <textarea class="form-control" id="iddiscription+" name="discription" rows="15rem" cols="100">  </textarea>
                </div>
              </div>
              <div class="container-fluid col">
              </div>
            </div>
          </div>
        </div>..
        <div class="modal-footer">
          <button type="button" value=" " onclick="EnabletariiModal(event.target.value)" class="btn btn-warning bi bi-pencil">EDIT </button>
          <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
          <button name="modalSubmit" type="button" onclick="saveTariffToCompanies('')" value="" class="btn btn-success bi bi-send">SAVE</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>


  <% tariffPackages.forEach(element=> { %>
    <!-- Scrollable modal -->
    <div class="modal fade  mr-2 "  id="<%=element.tariffName%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: rgb(255, 255, 255) ;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <%=element.tariffName%>
            </h5>
            <h2 id="idCompanyId" style="opacity: 0;">
              <%= profile.CompanyID %>
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- <form action="" name="formTariff"> -->
            <div class="">
              <div class="container row">
                <div class="container-fluid col-lg-4">
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Name</span>
                    <input name="tariffname" id="idCompTariffname+<%=element.tariffIndex%>" type="text" class="form-control" placeholder="tariffname" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.tariffName  %>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Rent </span>
                    <input name="Rent-Single" id="idRent-Single+<%=element.tariffIndex%>" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.roomRentSingle  %>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Offer Price </span>
                    <input name="Rent-Single" id="idSpecialRent+<%=element.tariffIndex%>" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.SpecialRent  %>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Extra person</span>
                    <input name="ExtraPerson" id="idExtraPerson+<%=element.tariffIndex%>" type="number" class="form-control" placeholder="ExtraPerson" aria-label="ExtraPerson" aria-describedby="basic-addon1" value="<%=element.extraPerson  %>">
                  </div>
                  <div class="input-group mb-2">
                    <label class="input-group-text col-4" id="basic-addon1" for="#idincludeChild">includeChild</label>
                    <div class="form-control">
                      <input name="includeChild" id="idincludeChild+<%=element.tariffIndex%>" type="checkbox" class="form-check-input" <%=element.includeChild ? 'checked' : '' %> aria-label="includeChild" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Item Name </span>
                    <input name="Itemname" id="IdItemname+<%=element.tariffIndex%>" type="text" class="form-control" placeholder="Item Name " aria-label="Username" aria-describedby="basic-addon1" value="<%=element.itemname%>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Tax Rate </span>
                    <input name="Taxrate" id="IdTaxrate+<%=element.tariffIndex%>" type="text" class="form-control" placeholder="Tax Rate" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.tax%>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Tariff Index </span>
                    <input name="TariffIndex" id="IdTariffIndex+<%=element.tariffIndex%>" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.tariffIndex%>">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">default Plan </span>
                    <input name="DefaultPlan" id="IdDefaultPlan+<%=element.tariffIndex%>" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1" value="<%=element.itemname%>">
                  </div>
                </div>
                <div class="container-fluid col-lg-8">
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Plan Discription</span>
                    <textarea class="form-control" id="iddiscription+<%=element.tariffIndex%>" name="discription" rows="15rem" cols="100"> <%=element.Discription %></textarea>
                  </div>
                </div>
                <div class="container-fluid col">
                </div>
              </div>
            </div>
          </div>..
          <div class="modal-footer">
            <button type="button" value="<%=element.tariffIndex%>" onclick="EnabletariiModal(event.target.value)" class="btn btn-warning bi bi-pencil">EDIT </button>
            <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
            <button name="modalSubmit" type="button" onclick="saveTariffToCompanies(event.target.value)" value="<%=element.tariffIndex%>" class="btn btn-success bi bi-send">SAVE</button>
            <button name="modalSubmit" type="button" onclick="deleteTariffPermanently(event.target.value)" value="<%=element.tariffIndex%>,<%= profile.CompanyID%>" class="btn btn-success bi bi-send"> DELETE </button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <% }) %>
    
    
    <div class="modal fade  mr-2 fixed-button  " id="idModalnewTariff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.888) ;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
            </h5>
            <h2 id="idCompanyId" style="opacity: 0;">
              <%=profile.CompanyID%>
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- <form action="" name="formTariff"> -->
            <div class="">
              <div class="container row">
                <div class="container-fluid col-lg-4">
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Name</span>
                    <input name="tariffname" id="idCompTariffname+" type="text" class="form-control" placeholder="tariffname" aria-label="Username" aria-describedby="basic-addon1"  >
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Rent </span>
                    <input name="Rent-Single" id="idRent-Single+" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" > 
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Offer Price </span>
                    <input name="Rent-Single" id="idSpecialRent+" type="number" class="form-control" placeholder="Room number" aria-label="Username" aria-describedby="basic-addon1" >
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Extra person</span>
                    <input name="ExtraPerson" id="idExtraPerson+" type="number" class="form-control" placeholder="ExtraPerson" aria-label="ExtraPerson" aria-describedby="basic-addon1" >
                  </div>
                  <div class="input-group mb-2">
                    <label class="input-group-text col-4" id="basic-addon1" for="#idincludeChild">includeChild</label>
                    <div class="form-control">
                      <input name="includeChild" id="idincludeChild+" type="checkbox" class="form-check-input"  
                      aria-label="includeChild" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Item Name </span>
                    <input name="Itemname" id="IdItemname" type="text" class="form-control" placeholder="Item Name " aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Tax Rate </span>
                    <input name="Taxrate" id="IdTaxrate+" type="number" class="form-control" placeholder="Tax Rate" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Tariff Index </span>
                    <input name="TariffIndex" id="IdTariffIndex+" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1" value="">
                  </div>
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">default Plan </span>
                    <input name="DefaultPlan" id="IdDefaultPlan+" type="text" readonly="true" class="form-control" placeholder="tariffId" aria-label="Username" aria-describedby="basic-addon1"  >
                  </div>
                </div>
                <div class="container-fluid col-lg-8">
                  <div class="input-group mb-2">
                    <span class="input-group-text col-4" id="basic-addon1">Plan Discription</span>
                    <textarea class="form-control" id="iddiscription+" name="discription" rows="15rem" cols="100">  </textarea>
                  </div>
                </div>
                <div class="container-fluid col">
                </div>
              </div>
            </div>
          </div>..
          <div class="modal-footer">
            <button type="button" value=" " onclick="EnabletariiModal(event.target.value)" class="btn btn-warning bi bi-pencil">EDIT </button>
            <button type="button" class="btn btn-secondary bi bi-x-octagon" data-bs-dismiss="modal">CANCEL</button>
            <button name="modalSubmit" type="button" onclick="saveTariffToCompanies('')" value="" class="btn btn-success bi bi-send">SAVE</button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  

     
    
<script src="/Script/Companies.js"> </script>

<%- include('footer') %>
