<%- include('header') %>
  <%- include('MenuBarCustomer') %>

    

      <main>
        <div class="container-fluid fixed"   id="top" style="height:730px; background-image: url('/Images/1694680589320-image (2).jpg');  background-position: center; background-size: cover;"> 



          <div class="container position-relative" >
            <div class=" container-fluid fixed" data-aos="fade-left" >
               <br><br><br><br><br><br><br>
                <div  >
                  <h1 id="idlaunchPageText" class="text-light" style="font-size: 60px; font-family: poppins;" >Search your favorite desination </h1>
                  <div class="  container-fluid w-100 col-11 rounded border " style="  background-color:rgba(186, 90, 21, 0.748); height: 100px;" >
                    <form action="/custom/customSearch" method="post">
                            <!-- Main Search box Start here -->
                           <h5 class="col-2 text-light ">Location </h5>
                            <div class="container d-flex ">
                              <select name="ditrictName" type="text" data-hotels="<%= JSON.stringify(generalData) %>"
                                class=" col-10 btn w-100 text-light fw-lighter" id="idSearchText" onchange="">
                                <option style="background-color:rgba(186, 90, 21, 0.748); font-size: large;"
                                  class="col-10 SearchTextBox text-light fw-LIGHTER" value=""> All Cities </option>
                                <% district.forEach(element=> { %>
                                  <option style="background-color:rgba(186, 90, 21, 0.748); height: 100px;"
                                    class=" col-12 btn w-100 text-light fw-lighter" value="<%=element%>">
                                    <%=element%>
                                  </option>
                                  <% }) %>
                              </select>
                              <button class="col-2 btn text-light bi bi-search">
                                FIND
                              </button>
                            </div>
                            
                             
                              
                     
                  </form>
                </div>  
   
  
                  </div>
                
                  
              </div>
            
            </div>

           
          </div>

        </div>
      </main>
      
    </body>
    <script src="/Script/Script_Signup.js"> </script>
    <script src="/Script/customerSearch.js"> </script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/aos.js"></script>