<%- include('header') %>
<%- include('menubarCustomer') %>
<%- include('menubar') %>
<div>
    <div class="container-fluid d-flex ">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">First Name</span>
                <input name="FirstName" id="idFirstName" type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Second Name</span>
                <input name="SecondName" id="idSecondName" type="text" class="form-control" placeholder="Second Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Contact Number</span>
                <input name="ContactNumber" id="idContactNumber" type="number" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Secondary Number</span>
                <input name="SecondryNumber" id="idSecondryNumber" type="number" class="form-control" placeholder="Secondry Number" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Email:</span>
                <input name="Email" id="idEmail" type="email" class="form-control col-7" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">House No</span>
                <input name="HouseNumber" id="idHouseNumber" type="text" class="form-control" placeholder="House No" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">HouseName</span>
                <input name="HouseName" id="idHouseName" type="text" class="form-control" placeholder="House Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Street Name</span>
                <input name="StreetName" id="idStreetName" type="text" class="form-control" placeholder="Street Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">City</span>
                <input name="City" id="idCity" type="text" class="form-control" placeholder="City" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Pincode</span>
                <input name="Pincode" id="idPincode" type="text" class="form-control" placeholder="Pincode" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">District</span>
                <input name="District" id="idDistrict" type="text" class="form-control" placeholder="District" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">State</span>
                <input name="State" id="idState" type="text" class="form-control" placeholder="State" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Country</span>
                <input name="Country" id="idCountry" type="text" class="form-control" placeholder="Country" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">Username</span>
                <input name="Username" id="idUsername" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text col-5" id="basic-addon1">HIndex</span>
                <input readonly="true" name="hId" id="idHid" type="text" class="form-control" placeholder="H Index" aria-label="Username" aria-describedby="basic-addon1">
            </div>
             

        </div>
        <div>
            <div class="input-group mb-3">
                <label for="idPanCard" class="input-group-text col-5 " id="basic-addon1">PANCARD</label>
                <input name="PanCard" id="idPanCard" type="text" class="form-control" placeholder="PanCard" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class=" mb-3 d-flex">
                <label for="idadhaar" class="input-group-text col-5" id="basic-addon1">ADHAAR</label>
                <input name="adhaar" id="idadhaar" type="text" class=" form-control " placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3 d-flex">
                <label for="idDOB" class="input-group-text col-5" id="basic-addon1">date of birth</label>
                <input name="DOB" id="idDOB" type="date" class="form-control col-7" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
        
            </div>
            
            <div class="mb-3 d-flex">
                <label for="idDOB" class="input-group-text col-5" id="basic-addon1">date of birth</label>
                
                <input name="MarriedDate" id="idMarriedDate" type="date" class="form-control col-7" placeholder="Date of birth" aria-label="Username" aria-describedby="basic-addon1"> MarriedDate
            </div>
        
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                     Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Female
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                      Other
                    </label>
                  </div>
            </div>
        </div>
        
        <div>
            <div class="input-group mb-3">
                <label for="" class="input-group-text col-10 " id="basic-addon1">Active</label>
                <input name="Active" value="checkboxValue" id="idActive" type="checkbox" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <label for="idSystemUser" class="input-group-text col-10" id="basic-addon1">System User</label>
                <input name="SystemUser" value="checkboxValue" id="idSystemUser" type="checkbox" class="form-control col-" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <label for="idisAdmin" class="input-group-text col-10" id="basic-addon1">Admin</label>
                <input aria-describedby="basic-addon1" aria-label="Username" class="form-control  " type="checkbox"  name="isAdmin" value="checkboxValue" id="idisAdmin">
                
            </div>
            <div class="input-group mb-3">
                <label for="idMarried" class="input-group-text col-10" id="basic-addon1">Married</label>
                <input name="Married" value="checkboxValue" id="idMarried" type="checkbox" class="form-control col-" placeholder="Date of birth" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <label for="idisLoggedIn" class="input-group-text col-10" id="basic-addon1">Logged in </label>
                <input name="isLoggedIn" value="checkboxValue" id="idisLoggedIn" type="checkbox" class="form-control col-" placeholder="LoggedIn" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        
    </div>

    
</div>

    <div>
        <div class="d-flex">
            <form action="/Human/searchHuman" method="POST"> 
                        
                <div class="input-group mb-3">
                <input name="searchvalue" id="idSearchname" type="text" class="form-control col-12" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                <button type="submit" class="input-group-text bi bi-search"   id="basic-addon1"></button>
            </div>
        
    </form>    
            <div class="container-fluid ">
                <button id="Bt_Save_Update" name="floorIndex" onclick="SaveHuman()" class="btn btn-success bi bi-send-plus-fill" type="submit"> </button>
                <button id="Bt_Save_Update" name="floorIndex" onclick="deletEdHuman()" class="btn btn-dark bi bi-trash3" type="submit"> </button>
                <button  class="btn btn-warning bi bi-pencil-fill" onclick="MakeHumanReadonlyFalse()"  type="button"> </button>           
                <button  class="btn btn-primary bi bi-file-earmark-plus" onclick="CreatenewHuman()"  type="button"> </button>            
            </div>
    </div>
    <table class="table  table-hover table-bordered">
        <thead>
            <tr>
                <th> USER INDEX </th>
                <th> FIRST NAME </th>
                <th> SECOND NAME </th>
                <th> CONTACT NUMBER</th>
                <th> SECOND NUMBER</th>
                <th> EMAIL</th>
                <th> STREET </th>
                <th> DISTRICT</th>
                <th> CITY</th>
                <th> ADMIN </th>
                <th> LOGEDIN </th>
                <th> USER ACTIVE </th>
                <th>USERNAME</th>
                <th>OPTION </th>
                
            </tr>
        </thead>
        <tbody>
         <% data.forEach(item => { %>
            <tr>
                <td><%= item.hrId %> </td>
                <td><%= item.firstName %> </td>
                <td><%= item.lastName %> </td>
                <td><%= item.contactNumber %> </td>
                <td><%= item.secondaryNumber %> </td>
                <td><%= item.email %> </td>
                <td><%= item.StreetName %> </td>
                <td><%= item.district %> </td>
                <td><%= item.city %> </td>
                <td><%= item.isAdmin %> </td>
                <td><%= item.isloggedIn %> </td>
                <td><%= item.Active %> </td>
                <td><%= item.username %> </td>
                <td><button  value="<%= JSON.stringify(item) %>" onclick="loadHumanData(event.target.value)"  class="btn btn-warning bi bi-search" type="button"> </button></td>
            </tr>
         <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('footer') %>
